body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  code {
    font-family: Arial, Helvetica, sans-serif;
  } 
  
  
  .box {
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
  }
  
  .IdCard {
    display: flex;
  }
  
  .IdCard img {
    margin-right: 5px;
  }
  
  .BoxColor {
    text-align: center;
    padding: 20px;
  }
  
  .CreditCard {
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    display: inline-block;
  }
  
  .CreditCard .type {
    text-align: right;
  }
  
  .CreditCard .type img {
    height: 20px;
  }
  
  .CreditCard .number {
    font-size: 1.9em;
    text-align: center;
    margin: 20px 0;
  }
  
  .CreditCard .bank {
    margin-left: 20px;
  }
  
  .Rating {
    font-size: 2rem;
  }
  
  .DriverCard {
    background-color: #425cbb;
    border-radius: 10px;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .DriverCard > * {
    margin: 5px;
  }
  
  .DriverCard img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
  }
  
  .DriverCard .right > * {
    margin: 0;
  }
  
  
  .ClickablePicture {
    height: 100px;
    width: 100px;
    cursor: pointer;
  }

  .likeDiv {
    display: flex;
  }
  